/* Tags generales */
body {
    background: #161d30;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
  
}
nav{
    background-color: #283046;
    padding: 10px 10px;   
}
main{
    margin: 150px 0;
    min-height: 68vh;
}
footer{
    background-color: #283046;
}

.my{
    margin-top: 35px !important;
    margin-bottom: 20px !important;
}

/* modal */
form{
    background-color: #283046; 
    padding:1rem 2rem;
    border-radius: 5px;
}
.bg-modal, .bg-modal div{
    background-color: #283046;
    border: none;
}


/* Links */
.btn-purple{
    background-color: #7367f0;
    color: white;
}
.purple{
    color: #7367f0;
}
.tBlack:hover{
    color: #7367f0 !important;
    
}

.c-purple{
    color: #7367f0;
}

.h-purple:hover{
    color: #7367f0 !important;
}

/* Juego Portada */
.portada{
    position: relative;
    color: white;
    display: flex;
    align-items: flex-end;
    
}
.portada:before{
    content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.3);
}




/* Carrusel de Juegos */
.wrapper{
    display: flex;
    overflow-x: scroll;
}

.wrapper::-webkit-scrollbar{
    background-color:#283046;
    border-bottom-left-radius: 10px ;
    border-bottom-right-radius: 10px ;
}
.wrapper .juego{
    min-width: 25%;
    max-width: 25%;
    margin-right: 8px;
    background-color: #020716 ;
    
}

.destacada{
    object-fit: cover;
}
.formulario{
    width: 100%;
   }
/* pantallas grandes */
@media (min-width: 1440px) and (max-width: 1920px){
    nav{
        height: 55px;
    }
    .destacada, .formulario{
        width: 75%;
    }
    form{
        padding:2rem 4rem; 
    }
}
/* pantallas promedio */
@media (min-width: 1040px) and (max-width: 1440px){
    nav{
        height: 55px;
    }
    .destacada, .formulario{
        width: 75%;
    }
    form{
        padding:2rem 4rem; 
    }
}
/* pantallas medianas */
@media (min-width: 700px) and (max-width: 1040px){
    .wrapper .juego{
        min-width: 33.33%;
        max-width: 33.33%;
    }
    .destacada{
        width: 100%;
        margin-top: 49px;
    }
}
/* pantallas chicas */
@media (min-width: 250px) and (max-width: 700px){
    .wrapper .juego{
        min-width: 50%;
        max-width: 50%;
        
    }
    .destacada{
        width: 100%;
        margin-top: 49px;
    }
}