
.bg-nav{
    background-color: #283046;
    padding: 10px 10px;  
}


.margin{
    margin: 40px;
}

.btn-purple{
    background-color: #7367f0;
}

body {
    background: #161d30;
    font: 87.5%/1.5em 'Open Sans', sans-serif;
}

main{
    margin: 150px 0;
}

.tBlack:hover{
    color: #7367f0 !important;
    
}

footer{
    background-color: #283046;
}

.c-purple{
    color: #7367f0;
}

.h-purple:hover{
    color: #7367f0 !important;
}